*.log
**/build/
**/dist/
**/newman/
**/public/
**/coverage/
**/node_modules/
tests/e2e/pact/pact/
tests/e2e/postman/
.#*
__pycache__/
.envrc
envrc.ps1
.idea
.vscode
sign/
*.key
prescriptions-tested.txt