*.log
**/build/
**/dist/
**/newman/
**/public/
**/coverage/
**/node_modules/
tests/e2e/pact/pact/
tests/e2e/postman/electronic-prescription-coordinator-postman-tests.json
.#*
__pycache__/
.envrc
.idea
.vscode
