*.log
**/build/
**/dist/
**/newman/
**/public/
**/coverage/
**/node_modules/
packages/e2e-tests/pact/
packages/e2e-tests/postman/
.#*
__pycache__/
.envrc
envrc.ps1
.idea
.vscode
./sign/
*.key
packages/coordinator/tests/debug/__snapshots__
prescriptions-*.txt
packages/tool/templates/*
packages/tool/static/*
venv
.DS_Store
junit.xml
release_notes
/ecs-*.yml
epsat.release
api.release
/manifest_template.yml
packages/tool/site/client/src/models
packages/tool/site/client/static/examples
.venv
.aws-sam
