{
	"info": {
		"_postman_id": "d975208b-658b-4f7b-9dc8-7034fddaa4ea",
		"name": "Electronic Prescriptions Sandbox",
		"schema": "https://schema.getpostman.com/json/collection/v2.1.0/collection.json"
	},
	"item": [
		{
			"name": "Prepare Success",
			"event": [
				{
					"listen": "test",
					"script": {
						"id": "e141b53f-c47f-47de-8be4-3d0335779985",
						"exec": [
							"REPLACED WHEN CALLING MAKE build-sandbox"
						],
						"type": "text/javascript"
					}
				}
			],
			"request": {
				"auth": {
					"type": "oauth2",
					"oauth2": [
						{
							"key": "accessToken",
							"value": "",
							"type": "string"
						},
						{
							"key": "tokenType",
							"value": "Bearer",
							"type": "string"
						},
						{
							"key": "addTokenTo",
							"value": "header",
							"type": "string"
						}
					]
				},
				"method": "POST",
				"header": [
					{
						"key": "NHSD-Session-URID",
						"value": "123",
						"type": "text"
					}
				],
				"body": {
					"mode": "raw",
					"raw": "REPLACED WHEN CALLING MAKE build-sandbox",
					"options": {
						"raw": {
							"language": "json"
						}
					}
				},
				"url": {
					"raw": "{{base_url}}/Prepare",
					"host": [
						"{{base_url}}"
					],
					"path": [
						"Prepare"
					]
				}
			},
			"response": []
		},
		{
			"name": "Send Success",
			"event": [
				{
					"listen": "test",
					"script": {
						"id": "e1bb1e7c-28ae-44e5-bbc4-d7480fea488e",
						"exec": [
							"REPLACED WHEN CALLING MAKE build-sandbox"
						],
						"type": "text/javascript"
					}
				}
			],
			"request": {
				"auth": {
					"type": "oauth2",
					"oauth2": [
						{
							"key": "accessToken",
							"value": "",
							"type": "string"
						},
						{
							"key": "tokenType",
							"value": "Bearer",
							"type": "string"
						},
						{
							"key": "addTokenTo",
							"value": "header",
							"type": "string"
						}
					]
				},
				"method": "POST",
				"header": [
					{
						"key": "NHSD-Session-URID",
						"type": "text",
						"value": "123"
					}
				],
				"body": {
					"mode": "raw",
					"raw": "REPLACED WHEN CALLING MAKE build-sandbox",
					"options": {
						"raw": {
							"language": "json"
						}
					}
				},
				"url": {
					"raw": "{{base_url}}/Send",
					"host": [
						"{{base_url}}"
					],
					"path": [
						"Send"
					]
				}
			},
			"response": []
		}
	],
	"protocolProfileBehavior": {}
}