# This is an OpenAPI Specification (https://swagger.io/specification/)
# for the Electronic Prescription Service (EPS) API
# owned by NHS Digital (https://digital.nhs.uk/)
openapi: 3.0.0
info:
  title: Electronic Prescription Service (FHIR) API
  version: "{VERSION}"
  contact:
    name: Electronic Prescription Service FHIR API Support
    url: 'https://tbc.api.nhs.net'
    email: tbc-api-support@nhs.net
  description: |
    ## Overview
    Use this API to access the [Electronic Prescription Service (EPS)](https://digital.nhs.uk/services/electronic-prescription-service) - the national service used to send electronic prescriptions from GP surgeries to pharmacies.

    You can:
    * prepare a prescription for signing
    * create a prescription

    You cannot currently use this API to:
    * cancel a prescription
    * check the status of a prescription
    * release a prescription for dispensing
    * claim for a dispensed prescription

    Currently, this API can only be accessed by healthcare professionals, authenticated with an NHS smartcard or equivalent.

    ## Using this API
    Electronic prescription messages are digitally signed to protect against tampering and to prevent repudiation.
    While the messages themselves are FHIR-based, for reasons of backwards compatibility, the signatures must be
    represented in HL7 V3 format. To make this easier, you can POST a prescription to the /Prescription endpoint to
    receive exactly the HL7 V3 fragments which need to be signed to conform to the specification.
    
    The flow to create a prescription is then:
    * POST a prescription in FHIR format to the /Prescription endpoint
    * Sign the response and put the result in a Provenance resource in the original FHIR prescription
    * PUT the signed prescription in FHIR format to the /Prescription endpoint

    ## Related APIs
    The following APIs also give access to the Electronic Prescription Service:
    - [Electronic Prescription Service (HL7 V3) API](https://data.developer.nhs.uk/dms/mim/4.2.00/Index.htm) - use this if you want to use functions that are not yet available on the FHIR API.
    - [Prescription Tracker API](https://developer.nhs.uk/apis/eps-tracker) - use this if you want a read-only interface to obtain information about a patient’s prescriptions.

    ## API status and roadmap
    All endpoints are in [alpha](https://digital.nhs.uk/developer/developer-reference/reference-guide#api-status) - expect further breaking changes.
    
    The API is currently available for sandbox testing and integration testing, but not for production use.

    The following items are on our roadmap, in rough priority order:
    - TODO

    We are extremely keen to receive feedback on the API during alpha and beta,
    for example if there are data fields missing that you think you need.
    Please [get in touch](/help-and-support) with any comments or suggestions.

    ## Technology
    This API is [RESTful](/introduction-to-apis#basic-rest).

    It also conforms to the [FHIR](/introduction-to-apis#fhir) global standard for health care data exchange.
    Specifically, it is aligned with [FHIR UK Core](https://digital.nhs.uk/services/fhir-uk-core), which is built on FHIR Release 4.

    You don’t need to know much about FHIR to use this API - FHIR APIs are just RESTful APIs that follow specific rules.
    In particular:
    - resource names are capitalised and singular, for example the `/Patient` not `/patients`
    - array names are singular, for example `line` not `lines` for address lines
    - data items that are country-specific and thus not included in the FHIR global base resources are usually wrapped in an `extension` object

    This API is available on the Internet, although access using NHS smartcards (see below)
    currently requires a connection to the [Health and Social Care Network (HSCN)](https://digital.nhs.uk/services/health-and-social-care-network).

    ## Authorisation
    TODO

    ## Testing
    You can test this API in:
    * our [sandbox environment](/testing#sandbox-testing) for initial developer testing
    * our [integration test environment](/testing#integration-testing) for formal integration testing (coming soon)

    Our sandbox environment is a very basic simulation of the live service. It only covers a limited set of scenarios and is stateless, so does not actually persist any updates.

    For more details on sandbox testing, or to try out the sandbox using our "Try this API" feature, see the documentation for each endpoint.

    Alternatively, you can try out the sandbox using our Postman collection:

    [![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/c7de990c99d2b6227e8d)

    ## Assurance
    We are hoping to make the assurance process as lightweight and as self-service as possible.

    More details to follow.

    ## Endpoints
    To see details for specific endpoints, select from the list on the left hand side of the page:
    * `POST /Prescription` - convert a FHIR prescription into the HL7 V3 signature fragments to be signed by the prescriber
    * `PUT /Prescription` - send a signed FHIR prescription to Spine
servers:
  - url: 'https://sandbox.api.service.nhs.uk/electronic-prescriptions'
    description: 'Sandbox environment. (not yet available: see "API status and roadmap").'
  - url: 'https://int.api.service.nhs.uk/electronic-prescriptions'
    description: 'Integration test environment. (not yet available: see "API status and roadmap").'
  - url: 'https://api.service.nhs.uk/electronic-prescriptions'
    description: 'Production environment (not yet available: see "API status and roadmap").'
tags:
  - name: dispensing
  - name: prescribing
paths:
  /Prescription:
    post:
      summary: Convert prescription to signature fragments
      operationId: post-prescription
      responses:
        '200':
          description: Successful conversion.
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/Binary.yaml
              examples:
                example:
                  value:
                    $ref: components/examples/PrescriptionPostSuccessResponse.yaml
        '4XX':
          description: Invalid request.
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/OperationOutcome-4XX.yaml
              examples:
                example:
                  value:
                    $ref: components/examples/ClientErrorResponse.yaml
        '5XX':
          description: Server error.
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/OperationOutcome-5XX.yaml
              examples:
                example:
                  value:
                    $ref: components/examples/ServerErrorResponse.yaml
          headers: {}
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: components/schemas/Bundle.yaml
            examples:
              example:
                value:
                  $ref: components/examples/PrescriptionPostSuccessRequest.yaml
        description: ''
      description: Convert a prescription in FHIR format into the canonicalised HL7 V3 signature fragments which should be signed by the prescriber.
      tags:
        - prescribing
    put:
      summary: Send a signed prescription to Spine
      operationId: post-signed-prescription
      responses:
        '200':
          description: Successfully submitted
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/Bundle.yaml
              examples:
                example:
                  value:
                    $ref: components/examples/PrescriptionPutSuccessResponse.yaml
        '4XX':
          description: Invalid request.
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/OperationOutcome-4XX.yaml
              examples:
                example:
                  value:
                    $ref: components/examples/ClientErrorResponse.yaml
        '5XX':
          description: Server error.
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/OperationOutcome-5XX.yaml
              examples:
                patient-deceased:
                  value:
                    $ref: components/examples/PrescriptionPutErrorPatientDeceasedResponse.yaml
                duplicate-prescription:
                  value:
                    $ref: components/examples/PrescriptionPutErrorDuplicatePrescriptionResponse.yaml
                digital-signature-not-found:
                  value:
                    $ref: components/examples/PrescriptionPutErrorDigitalSignatureNotFoundResponse.yaml
                patient-not-found:
                  value:
                    $ref: components/examples/PrescriptionPutErrorPatientNotFoundResponse.yaml
                information-missing:
                  value:
                    $ref: components/examples/PrescriptionPutErrorInformationMissingResponse.yaml
                invalid-message:
                  value:
                    $ref: components/examples/PrescriptionPutErrorInvalidMessageResponse.yaml
                incorrect-item-count:
                  value:
                    $ref: components/examples/PrescriptionPutErrorIncorrectItemCountResponse.yaml
                authorised-repeat-mismatch:
                  value:
                    $ref: components/examples/PrescriptionPutErrorAuthorisedRepeatMismatchResponse.yaml
                incorrect-repeat-number:
                  value:
                    $ref: components/examples/PrescriptionPutErrorIncorrectRepeatNumberResponse.yaml
                incompatible-version:
                  value:
                    $ref: components/examples/PrescriptionPutErrorIncompatibleVersionResponse.yaml
                duplicate-item-id:
                  value:
                    $ref: components/examples/PrescriptionPutErrorDuplicateItemIdResponse.yaml
                check-digit-error:
                  value:
                    $ref: components/examples/PrescriptionPutErrorCheckDigitErrorResponse.yaml
                invalid-date-format:
                  value:
                    $ref: components/examples/PrescriptionPutErrorInvalidDateFormatResponse.yaml
          headers: {}
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: components/schemas/Bundle.yaml
            examples:
              example:
                value:
                  $ref: components/examples/PrescriptionPutSuccessRequest.yaml
        description: ''
      description: Submit a signed prescription to EPS
      tags:
        - prescribing
    parameters: []
components:
  schemas:
    Bundle:
      $ref: components/schemas/Bundle.yaml
    MedicationRequest:
      $ref: components/schemas/MedicationRequest.yaml
    Patient:
      $ref: components/schemas/Patient.yaml
    Practitioner:
      $ref: components/schemas/Practitioner.yaml
    Encounter:
      $ref: components/schemas/Encounter.yaml
    Organization:
      $ref: components/schemas/Organization.yaml
    Binary:
      $ref: components/schemas/Binary.yaml
    Provenance:
      $ref: components/schemas/Provenance.yaml
