| Patient {{patientName}} | Born {{patientDob}} |
| | Address {{patientAddress}} |
|-|-|
| Prescription Start Date {{prescriptionStartDate}} | Prescriber {{prescriberName}} |
| | Prescribing Code {{prescriberCode}} |
| | Organisation {{prescriberOrg}} |
| | Address {{prescriberAddress}} |
{{#medication}}
| {{name}} |
| {{quantity}} |
| {{dose}} |
{{/medication}}
|-|-|