.github/
azure/
node_modules/
proxies/
scripts/
specification/
static/
templates/
.eslintrc
.gitignore
docker-compose.yml
Dockerfile-Site
Dockerfile-Store
ecs-proxies-containers.yml
ecs-proxies-deploy.yml
Makefile
manifest_template.yml
poetry.lock
pyproject.toml
README.md