.nhsuk-image {
	border-bottom: 0;
	width: auto;
	margin-top: 0;
	margin-bottom: 0;
	background: #005eb8;
}

.inline-flex {
	display: inline-flex;
}

.nhsuk-loader {
	margin-bottom:16px;
	margin-top:16px;
	position:relative;
	text-align:center
}
@media (min-width:40.0625em) {
.nhsuk-loader {
	margin-bottom:24px
 }
}
@media (min-width:40.0625em) {
.nhsuk-loader {
	margin-top:24px
}
}
.nhsuk-loader__spinner {
animation:spin 2s linear infinite;
border:16px solid #d8dde0;
border-radius:50%;
border-top:16px solid #2676c3;
display:inline-block;
height:120px;
margin:auto;
width:120px
}
.nhsuk-loader__text {
font-size:16px;
font-size:1rem;
line-height:1.5;
display:block;
margin-bottom:0
}
@media (min-width:40.0625em) {
.nhsuk-loader__text {
	font-size:19px;
	font-size:1.1875rem;
	line-height:1.47368
}
}
@media print {
.nhsuk-loader__text {
	font-size:14pt;
	line-height:1.15
}
}
.nhsuk-loader--small {
text-align:left
}
.nhsuk-loader--small .nhsuk-loader__spinner {
border-width:4px;
border-top-width:4px;
height:24px;
left:0;
position:absolute;
top:0;
width:24px
}
@media (min-width:48.0625em) {
.nhsuk-loader--small .nhsuk-loader__spinner {
	height:28px;
	width:28px
}
}
.nhsuk-loader--small .nhsuk-loader__text {
padding-left:32px
}
@media (min-width:48.0625em) {
.nhsuk-loader--small .nhsuk-loader__text {
	padding-left:40px
}
}
@keyframes spin {
0% {
	transform:rotate(0)
}
100% {
	transform:rotate(360deg)
}
}
.nhsuk-loader--white .nhsuk-loader__spinner {
border-color:rgba(255,255,255,.3);
border-top-color:#fff
}
.nhsuk-loader--white .nhsuk-loader__text {
color:#fff
}

.nhsuk-pagination-item--previous {
	width: 33%;
}

.nhsuk-pagination-item--next {
	width: 33%;
}

.pagination-container {
	display: flex;
	list-style-type: none;
	justify-content: center;
}
.pagination-container .pagination-item {
	padding: 0 12px;
	height: 32px;
	text-align: center;
	margin: auto 4px;
	color: rgba(0, 0, 0, 0.87);
	display: flex;
	box-sizing: border-box;
	align-items: center;
	letter-spacing: 0.01071em;
	border-radius: 16px;
	line-height: 1.43;
	font-size: 13px;
	min-width: 32px;
}
.pagination-container .pagination-item.dots:hover {
	background-color: transparent;
	cursor: default;
}
.pagination-container .pagination-item:hover {
	background-color: rgba(0, 0, 0, 0.04);
	cursor: pointer;
}
.pagination-container .pagination-item.selected {
	background-color: rgba(0, 0, 0, 0.08);
}
.pagination-container .pagination-item .arrow::before {
	position: relative;
   /* top: 3pt;
	Uncomment this to lower the icons as requested in comments*/
	content: '';
   /* By using an em scale, the arrows will size with the font */
	display: inline-block;
	width: 0.4em;
	height: 0.4em;
	border-right: 0.12em solid rgba(0, 0, 0, 0.87);
	border-top: 0.12em solid rgba(0, 0, 0, 0.87);
}
.pagination-container .pagination-item .arrow.left {
	transform: rotate(-135deg) translate(-50%);
}
.pagination-container .pagination-item .arrow.right {
	transform: rotate(45deg);
}
.pagination-container .pagination-item.disabled {
	pointer-events: none;
}
.pagination-container .pagination-item.disabled .arrow::before {
	border-right: 0.12em solid rgba(0, 0, 0, 0.43);
	border-top: 0.12em solid rgba(0, 0, 0, 0.43);
}
.pagination-container .pagination-item.disabled:hover {
	background-color: transparent;
	cursor: default;
}
