{
    "root": true,
    "env": {
        "node": true
    },
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "semi": ["error", "never"],
        "object-curly-spacing": ["error", "never"],
        "brace-style": ["error", "1tbs"],
        "eol-last": ["error", "always"],
        "quotes": [
            "error",
            "double",
            {
                "allowTemplateLiterals": true,
                "avoidEscape": true
            }],
        "comma-dangle": ["error", "never"],
        "indent": ["error", 2],
        "no-multiple-empty-lines": ["error", {"max": 1}],
        "no-trailing-spaces": "error",
        "@typescript-eslint/array-type": [
            "error",
            { "default": "generic" }
          ]
    }
}
