TODO export Postman environment
Replace name and URL values to create a template, e.g.
  "name": "{{ENVIRONMENT}}",
  "values": [
    {
      "key": "environment",
      "value": "{{API_TEST_URL}}",
      "enabled": true
    }
  ]
