name: cdk package code

on:
  workflow_call:
    inputs:
      VERSION_NUMBER:
        required: true
        type: string
      COMMIT_ID:
        required: true
        type: string

jobs:
  get_asdf_version:
    runs-on: ubuntu-22.04
    outputs:
      asdf_version: ${{ steps.asdf-version.outputs.version }}
      tag_format: ${{ steps.load-config.outputs.TAG_FORMAT }}
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Get asdf version
        id: asdf-version
        run: echo "version=$(awk '!/^#/ && NF {print $1; exit}' .tool-versions.asdf)" >> "$GITHUB_OUTPUT"
      - name: Load config value
        id: load-config
        run: |
          TAG_FORMAT=$(yq '.TAG_FORMAT' .github/config/settings.yml)
          echo "TAG_FORMAT=$TAG_FORMAT" >> "$GITHUB_OUTPUT"

  package_code:
    runs-on: ubuntu-22.04
    needs: [get_asdf_version]
    permissions:
      id-token: write
      contents: read
      packages: read
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          ref: ${{ env.BRANCH_NAME }}

      # using git commit sha for version of action to ensure we have stable version
      - name: Install asdf
        uses: asdf-vm/actions/setup@b7bcd026f18772e44fe1026d729e1611cc435d47
        with:
          asdf_version: ${{ needs.get_asdf_version.outputs.asdf_version }}

      - name: Cache asdf
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb
        with:
          path: |
            ~/.asdf
          key: ${{ runner.os }}-asdf-${{ hashFiles('**/.tool-versions') }}
          restore-keys: |
            ${{ runner.os }}-asdf-${{ hashFiles('**/.tool-versions') }}

      - name: Install asdf dependencies in .tool-versions
        uses: asdf-vm/actions/install@b7bcd026f18772e44fe1026d729e1611cc435d47
        with:
          asdf_version: ${{ needs.get_asdf_version.outputs.asdf_version }}
        env:
          PYTHON_CONFIGURE_OPTS: --enable-shared

      - name: make install
        run: |
          make install build-proxygen-specification

      - name: Build FHIR Facade Docker image
        id: build-fhir-facade-image
        run: |
          docker build -t "fhir-facade-repo:${{ inputs.VERSION_NUMBER }}" -f packages/coordinator/Dockerfile .
          docker save "fhir-facade-repo:${{ inputs.VERSION_NUMBER }}" -o FHIR_facade_docker.img

      - name: get latest validator release
        id: get_latest_validator_release
        run: |
          LATEST_VALIDATOR_VERSION=v1.0.315-alpha
          echo "LATEST_VALIDATOR_VERSION=${LATEST_VALIDATOR_VERSION}" >> "$GITHUB_ENV"

      - name: Download Dockerfile, manifest.json and JAR file for Validator
        run: |
          curl -L -o Dockerfile "https://github.com/NHSDigital/validation-service-fhir-r4/releases/download/${{ env.LATEST_VALIDATOR_VERSION }}/Dockerfile"
          curl -L -o manifest.json "https://github.com/NHSDigital/validation-service-fhir-r4/releases/download/${{ env.LATEST_VALIDATOR_VERSION }}/manifest.json"
          curl -L -o fhir-validator.jar "https://github.com/NHSDigital/validation-service-fhir-r4/releases/download/${{ env.LATEST_VALIDATOR_VERSION }}/fhir-validator.jar"

      - name: Build Validator Docker image
        id: build-validator-image
        run: |
          docker build -t "validator-repo:${{ inputs.VERSION_NUMBER }}" -f Dockerfile .
          docker images
          docker save "validator-repo:${{ inputs.VERSION_NUMBER }}" -o validator_docker.img

      - name: "package cdk"
        run: |
          tar -rf artifact.tar \
            .tool-versions \
            packages/cdk \
            packages/specification \
            node_modules \
            package.json \
            package-lock.json \
            Makefile \
            cdk.json

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        name: upload build artifact
        with:
          name: cdk_artifact
          path: artifact.tar

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        name: Upload docker images
        with:
          name: docker_artifact
          path: |
            FHIR_facade_docker.img
            validator_docker.img
