name: "Create rc int confluence release notes"

on:
  workflow_dispatch:
    inputs:
      release_tag:
        required: true
        description: the release tag to create release notes for
      current_tag:
        required: true
        description: the currently deployed tag

jobs:
  create_rc_int_confluence_release_notes:
    runs-on: ubuntu-22.04
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          ref: ${{ env.BRANCH_NAME }}

      # using git commit sha for version of action to ensure we have stable version
      - name: Install asdf
        uses: asdf-vm/actions/setup@b7bcd026f18772e44fe1026d729e1611cc435d47
        with:
          asdf_branch: v0.11.3

      - name: Cache asdf
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306
        with:
          path: |
            ~/.asdf
          key: ${{ runner.os }}-asdf-${{ hashFiles('**/.tool-versions') }}
          restore-keys: |
            ${{ runner.os }}-asdf-

      - name: Install asdf dependencies in .tool-versions
        uses: asdf-vm/actions/install@b7bcd026f18772e44fe1026d729e1611cc435d47
        with:
          asdf_branch: v0.11.3
        env:
          PYTHON_CONFIGURE_OPTS: --enable-shared

      - name: make install
        run: |
          make install

      - name: Configure dev AWS Credentials
        uses: aws-actions/configure-aws-credentials@4ce2bbcf5d401e557e0537d863a6aced08605794
        with:
          aws-region: eu-west-2
          role-to-assume: ${{ secrets.DEV_CLOUD_FORMATION_EXECUTE_LAMBDA_ROLE }}
          role-session-name: fhir-facade-execute-release-notes-lambda

      - shell: bash
        name: create release notes
        run: |
          export release_tag=${{ inputs.release_tag }}
          export current_tag=${{ inputs.current_tag }}
          make publish-fhir-rc-release-notes-int
