name: "Delete old cloudformation stacks"

on:
  workflow_dispatch:
  schedule:
    - cron: "0 3,15 * * *"
  push:
    branches: [master]

jobs:
  delete-old-cloudformation-stacks:
    runs-on: ubuntu-22.04
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout local github scripts
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          ref: ${{ env.BRANCH_NAME }}
          sparse-checkout: |
            .github/scripts

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: eu-west-2
          role-to-assume: ${{ secrets.DEV_CLOUD_FORMATION_DEPLOY_ROLE }}
          role-session-name: fhir-facade-delete-old-stacks

      - name: delete stacks
        shell: bash
        working-directory: .github/scripts
        run: ./delete_stacks.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  delete-old-proxygen-deployments:
    runs-on: ubuntu-22.04
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout local code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          ref: ${{ env.BRANCH_NAME }}
          fetch-depth: 0

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8
        with:
          aws-region: eu-west-2
          role-to-assume: ${{ secrets.PROXYGEN_PTL_ROLE }}
          role-session-name: fhir-facade-delete-old-proxygen

      - name: delete proxygen deployments
        shell: bash
        working-directory: .github/scripts
        run: ./delete_proxygen_deployments.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
