name: deploy_pr

on:
  workflow_dispatch:
    inputs:
      workflowRunID:
        description: "The github workflow run id of a FHIR build and deployment to release to REF environment"
        required: true
      versionNumber:
        description: "Version number to give the deployment to ref"
        required: true
      commitId:
        description: "Commit id to give the deployment to ref"
        required: true

jobs:
  download_artifacts:
    runs-on: ubuntu-22.04
    steps:
      - name: build_artifact download
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          name: cdk_artifact
          path: .
          run-id: ${{ inputs.workflowRunID }}

      - name: docker_artifact download
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          name: docker_artifact
          path: .
          run-id: ${{ inputs.workflowRunID }}

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        name: upload build artifact
        with:
          name: cdk_artifact
          path: artifact.tar

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        name: Upload docker images
        with:
          name: docker_artifact
          path: |
            FHIR_facade_docker.img
            validator_docker.img
  get_config_values:
    runs-on: ubuntu-22.04
    outputs:
      asdf_version: ${{ steps.asdf-version.outputs.version }}
      tag_format: ${{ steps.load-config.outputs.TAG_FORMAT }}
      devcontainer_version: ${{ steps.load-config.outputs.DEVCONTAINER_VERSION }}
      devcontainer_image: ${{ steps.load-config.outputs.DEVCONTAINER_IMAGE }}
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Get asdf version
        id: asdf-version
        run: echo "version=$(awk '!/^#/ && NF {print $1; exit}' .tool-versions.asdf)" >> "$GITHUB_OUTPUT"
      - name: Load config value
        id: load-config
        run: |
          TAG_FORMAT=$(yq '.TAG_FORMAT' .github/config/settings.yml)
          DEVCONTAINER_IMAGE=$(jq -r '.build.args.IMAGE_NAME' .devcontainer/devcontainer.json)
          DEVCONTAINER_VERSION=$(jq -r '.build.args.IMAGE_VERSION' .devcontainer/devcontainer.json)
          {
            echo "TAG_FORMAT=$TAG_FORMAT" 
            echo "DEVCONTAINER_IMAGE=$DEVCONTAINER_IMAGE"
            echo "DEVCONTAINER_VERSION=$DEVCONTAINER_VERSION"
          } >> "$GITHUB_OUTPUT"


  release_ref_code:
    needs: [download_artifacts, get_config_values]
    uses: ./.github/workflows/cdk_release_code.yml
    with:
      runtime_docker_image: "${{ needs.get_config_values.outputs.devcontainer_image }}:githubactions-${{ needs.get_config_values.outputs.devcontainer_version }}"
      verify_published_from_main_image: false
      STACK_NAME: prescribe-dispense
      AWS_ENVIRONMENT: ref
      APIGEE_ENVIRONMENT: ref
      ENABLE_MUTUAL_TLS: true
      TRUSTSTORE_FILE: fhirfacade-truststore.pem
      VERSION_NUMBER: ${{ inputs.versionNumber }}
      COMMIT_ID: ${{ inputs.commitId}}
      LOG_LEVEL: debug
      VALIDATOR_LOG_LEVEL: INFO
      LOG_RETENTION_DAYS: 30
      DEPLOY_APIGEE: true
      TARGET_SPINE_SERVER: prescriptions.refspineservices.nhs.uk
      DOCKER_IMAGE_TAG: ${{ inputs.versionNumber }}-${{ inputs.commitId }}
      RUN_REGRESSION_TEST: false
      TO_ASID: 567456789789
      TO_PARTY_KEY: YES-0000806
      IS_PULL_REQUEST: false
      ENABLE_DEFAULT_ASID_PARTY_KEY: true
      SHA1_ENABLED_APPLICATION_IDS: 4515047f-fdbf-486f-bafe-dfae62482526,d3984d64-c463-4bb1-adec-ba303a8a123b
      SANDBOX_MODE_ENABLED: 0
      DESIRED_FHIR_FACADE_COUNT: 2
      DESIRED_CLAIMS_COUNT: 2
      DESIRED_PEAK_CLAIMS_COUNT: 2
      DESIRED_OFF_PEAK_CLAIMS_COUNT: 2
      SERVICE_CPU: 4096
      SERVICE_MEMORY: 8192
      MTLS_KEY: fhir-facade-mtls-1
      FORWARD_CSOC_LOGS: false
    secrets:
      CLOUD_FORMATION_DEPLOY_ROLE: ${{ secrets.REF_CLOUD_FORMATION_DEPLOY_ROLE }}
      CDK_PULL_IMAGE_ROLE: ${{ secrets.DEV_CDK_PULL_IMAGE_ROLE }}
      PROXYGEN_ROLE: ${{ secrets.PROXYGEN_PTL_ROLE }}
      REGRESSION_TESTS_PEM: ${{ secrets.REGRESSION_TESTS_PEM }}
      DEFAULT_PTL_ASID: ${{ secrets.DEFAULT_PTL_ASID }}
      DEFAULT_PTL_PARTY_KEY: ${{ secrets.DEFAULT_PTL_PARTY_KEY }}
