name: run EPSAT E2E tests

on:
  workflow_dispatch:
    inputs:
      SERVICE_BASE_PATH:
        description: "The service base path to test against"
        required: true
        type: string
      APIGEE_ENVIRONMENT:
        description: "The Apigee environment to test against"
        required: true
        type: string
      id:
        description: "Unique run identifier (Do not change this)"
        required: false
        default: "Manually Triggered Run"
jobs:
  get_asdf_version:
    runs-on: ubuntu-22.04
    outputs:
      asdf_version: ${{ steps.asdf-version.outputs.version }}
      tag_format: ${{ steps.load-config.outputs.TAG_FORMAT }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Get asdf version
        id: asdf-version
        run: echo "version=$(awk '!/^#/ && NF {print $1; exit}' .tool-versions.asdf)" >> "$GITHUB_OUTPUT"
      - name: Load config value
        id: load-config
        run: |
          TAG_FORMAT=$(yq '.TAG_FORMAT' .github/config/settings.yml)
          echo "TAG_FORMAT=$TAG_FORMAT" >> "$GITHUB_OUTPUT"
