name: run EPSAT E2E tests

on:
  workflow_dispatch:
    inputs:
      SERVICE_BASE_PATH:
        description: "The service base path to test against"
        required: true
        type: string
      APIGEE_ENVIRONMENT:
        description: "The Apigee environment to test against"
        required: true
        type: string
      id:
        description: "Unique run identifier (Do not change this)"
        required: false
        default: "Manually Triggered Run"
jobs:
  get_config_values:
    runs-on: ubuntu-22.04
    outputs:
      tag_format: ${{ steps.load-config.outputs.TAG_FORMAT }}
      devcontainer_version: ${{ steps.load-config.outputs.DEVCONTAINER_VERSION }}
      devcontainer_image: ${{ steps.load-config.outputs.DEVCONTAINER_IMAGE }}
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Load config value
        id: load-config
        run: |
          TAG_FORMAT=$(yq '.TAG_FORMAT' .github/config/settings.yml)
          DEVCONTAINER_IMAGE=$(jq -r '.build.args.IMAGE_NAME' .devcontainer/devcontainer.json)
          DEVCONTAINER_VERSION=$(jq -r '.build.args.IMAGE_VERSION' .devcontainer/devcontainer.json)
          {
            echo "TAG_FORMAT=$TAG_FORMAT" 
            echo "DEVCONTAINER_IMAGE=$DEVCONTAINER_IMAGE"
            echo "DEVCONTAINER_VERSION=$DEVCONTAINER_VERSION"
          } >> "$GITHUB_OUTPUT"
      - name: show_input_parameters
        env:
          SERVICE_BASE_PATH: ${{ inputs.SERVICE_BASE_PATH }}
          APIGEE_ENVIRONMENT: ${{ inputs.APIGEE_ENVIRONMENT }}
          id: ${{ inputs.id }}
          BRANCH_NAME: ${{ env.BRANCH_NAME }}
        run: |
          echo "SERVICE_BASE_PATH: ${SERVICE_BASE_PATH}"
          echo "APIGEE_ENVIRONMENT: ${APIGEE_ENVIRONMENT}"
          echo "BRANCH_NAME: ${BRANCH_NAME}"
          echo "id: ${id}"
          # output to summary
          # shellcheck disable=SC2129
          echo "SERVICE_BASE_PATH: ${SERVICE_BASE_PATH}"  >> "$GITHUB_STEP_SUMMARY"
          echo "APIGEE_ENVIRONMENT: ${APIGEE_ENVIRONMENT}"  >> "$GITHUB_STEP_SUMMARY"
          echo "id: ${id}"  >> "$GITHUB_STEP_SUMMARY"
          echo "BRANCH_NAME: ${BRANCH_NAME}"  >> "$GITHUB_STEP_SUMMARY"

      - name: ${{github.event.inputs.id}}
        env:
          ID: ${{github.event.inputs.id}}
          ENV: ${{ inputs.APIGEE_ENVIRONMENT }}
        run: |
          echo run identifier "$ID"-"$ENV"
          echo run identifier "$ID"-"$ENV"  >> "$GITHUB_STEP_SUMMARY"
  verify_attestation:
    needs: get_config_values
    uses: NHSDigital/eps-common-workflows/.github/workflows/verify-attestation.yml@use_container_at_job_level
    with:
      runtime_docker_image: "${{ needs.get_config_values.outputs.devcontainer_image }}:githubactions-${{ needs.get_config_values.outputs.devcontainer_version }}"
      verify_published_from_main_image: false

  run_epsat_tests:
    runs-on: ubuntu-22.04
    needs: [get_config_values, verify_attestation]
    container:
      image: ${{ needs.verify_attestation.outputs.pinned_image }}
      options: --user 1001:1001 --group-add 128
    defaults:
      run:
        shell: bash
    permissions:
      id-token: write
      contents: read
      packages: read
    steps:
      - name: copy .tool-versions
        run: |
          cp /home/vscode/.tool-versions "$HOME/.tool-versions"
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          ref: ${{ env.BRANCH_NAME }}

      - name: make install
        run: |
          make install

      - name: run epsat tests
        run: |
          if [ "${APIGEE_ENVIRONMENT}" == "internal-dev-sandbox" ] || [ "${APIGEE_ENVIRONMENT}" == "sandbox" ]
          then
              npm run test-sandbox --workspace packages/tool/e2e-tests
          else
              npm run test-live --workspace packages/tool/e2e-tests
          fi
        env:
          SERVICE_BASE_PATH: ${{ inputs.SERVICE_BASE_PATH }}
          APIGEE_ENVIRONMENT: ${{ inputs.APIGEE_ENVIRONMENT }}
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        name: upload test_results
        with:
          name: test_results
          path: |
            packages/tool/e2e-tests/test_results
