name: package code and api

on:
  workflow_call:
    inputs:
      APIGEE_ENVIRONMENT:
        required: true
        type: string
      VERSION_NUMBER:
        required: true
        type: string
      IS_PULL_REQUEST:
        type: boolean
        default: false
    secrets:
      API_CLIENT_ID:
        required: true
      API_CLIENT_SECRET:
        required: true
      SIGNING_PRIVATE_KEY:
        required: true
      SIGNING_CERT:
        required: true
jobs:
  get_asdf_version:
    runs-on: ubuntu-22.04
    outputs:
      asdf_version: ${{ steps.asdf-version.outputs.version }}
      tag_format: ${{ steps.load-config.outputs.TAG_FORMAT }}
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Get asdf version
        id: asdf-version
        run: echo "version=$(awk '!/^#/ && NF {print $1; exit}' .tool-versions.asdf)" >> "$GITHUB_OUTPUT"
      - name: Load config value
        id: load-config
        run: |
          TAG_FORMAT=$(yq '.TAG_FORMAT' .github/config/settings.yml)
          echo "TAG_FORMAT=$TAG_FORMAT" >> "$GITHUB_OUTPUT"

  run_pact_tests:
    runs-on: ubuntu-22.04
    needs: [get_asdf_version]
    permissions:
      id-token: write
      contents: read
      packages: read
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          ref: ${{ env.BRANCH_NAME }}

      # using git commit sha for version of action to ensure we have stable version
      - name: Install asdf
        uses: asdf-vm/actions/setup@1902764435ca0dd2f3388eea723a4f92a4eb8302
        with:
          asdf_version: ${{ needs.get_asdf_version.outputs.asdf_version }}

      - name: Cache asdf
        uses: actions/cache@v4
        with:
          path: |
            ~/.asdf
          key: ${{ runner.os }}-asdf-${{ hashFiles('**/.tool-versions') }}
          restore-keys: |
            ${{ runner.os }}-asdf-

      - name: Install asdf dependencies in .tool-versions
        uses: asdf-vm/actions/install@1902764435ca0dd2f3388eea723a4f92a4eb8302
        with:
          asdf_branch: v0.11.3
        env:
          PYTHON_CONFIGURE_OPTS: --enable-shared

      - name: Run make install
        run: |
          make install

      - name: Prepare pacts
        shell: bash
        run: |
          APIGEE_ACCESS_TOKEN=dummy_token
          export APIGEE_ACCESS_TOKEN
          mkdir -p .secrets
          echo "${SIGNING_PRIVATE_KEY}" > .secrets/private.key
          echo "${SIGNING_CERT}" > .secrets/cert.crt
          SIGNING_PRIVATE_KEY_PATH=${PWD}/.secrets/private.key
          SIGNING_CERT_PATH=${PWD}/.secrets/cert.crt
          export SIGNING_PRIVATE_KEY_PATH
          export SIGNING_CERT_PATH

          echo "APIGEE_ENVIRONMENT: ${APIGEE_ENVIRONMENT}"
          echo "PACT_VERSION: ${PACT_VERSION}"
          echo "PACT_PROVIDER_URL: ${PACT_PROVIDER_URL}"
          echo "PACT_CONSUMER: ${PACT_CONSUMER}"
          echo "PACT_PROVIDER: ${PACT_PROVIDER}"
          echo "SIGNING_PRIVATE_KEY_PATH: ${SIGNING_PRIVATE_KEY_PATH}"
          echo "SIGNING_CERT_PATH: ${SIGNING_CERT_PATH}"
          echo "API_MODE: ${API_MODE}"
          echo "API_CLIENT_ID: HIDDEN"
          echo "API_CLIENT_SECRET: HIDDEN"
          echo "API_DEPLOYMENT_METHOD: ${API_DEPLOYMENT_METHOD}"

          make create-proxygen-pacts
        env:
          APIGEE_ENVIRONMENT: ${{ inputs.APIGEE_ENVIRONMENT }}
          PACT_VERSION: electronic-prescriptions-${{ inputs.VERSION_NUMBER }}
          PACT_CONSUMER: eps-test-client
          PACT_PROVIDER: eps
          API_CLIENT_ID: ${{ secrets.API_CLIENT_ID }}
          API_CLIENT_SECRET: ${{ secrets.API_CLIENT_SECRET }}
          API_MODE: live
          SIGNING_PRIVATE_KEY: ${{ secrets.SIGNING_PRIVATE_KEY }}
          SIGNING_CERT: ${{ secrets.SIGNING_CERT }}
          API_DEPLOYMENT_METHOD: proxygen

      - name: Verify pacts
        shell: bash
        run: |
          PACT_PROVIDER_PRESCRIBING_URL=$(echo "$PACT_PROVIDER_PRESCRIBING_URL" | tr '[:upper:]' '[:lower:]')
          PACT_PROVIDER_DISPENSING_URL=$(echo "$PACT_PROVIDER_DISPENSING_URL" | tr '[:upper:]' '[:lower:]')
          export PACT_PROVIDER_URL
          echo "APIGEE_ENVIRONMENT: ${APIGEE_ENVIRONMENT}"
          echo "PACT_VERSION: ${PACT_VERSION}"
          echo "PACT_PROVIDER_PRESCRIBING_URL: ${PACT_PROVIDER_PRESCRIBING_URL}"
          echo "PACT_PROVIDER_DISPENSING_URL: ${PACT_PROVIDER_DISPENSING_URL}"
          echo "PACT_CONSUMER: ${PACT_CONSUMER}"
          echo "PACT_PROVIDER: ${PACT_PROVIDER}"
          echo "API_MODE: ${API_MODE}"
          echo "API_DEPLOYMENT_METHOD: ${API_DEPLOYMENT_METHOD}"

          make verify-pacts
        env:
          APIGEE_ENVIRONMENT: ${{ inputs.APIGEE_ENVIRONMENT }}
          PACT_VERSION: electronic-prescriptions-${{ inputs.VERSION_NUMBER }}
          PACT_PROVIDER_PRESCRIBING_URL: https://${{ inputs.APIGEE_ENVIRONMENT }}.api.service.nhs.uk/fhir-prescribing${{ (inputs.IS_PULL_REQUEST == true || inputs.IS_PULL_REQUEST == 'true') && format('-{0}', inputs.VERSION_NUMBER) || '' }}
          PACT_PROVIDER_DISPENSING_URL: https://${{ inputs.APIGEE_ENVIRONMENT }}.api.service.nhs.uk/fhir-dispensing${{ (inputs.IS_PULL_REQUEST == true || inputs.IS_PULL_REQUEST == 'true') && format('-{0}', inputs.VERSION_NUMBER) || '' }}
          PACT_CONSUMER: eps-test-client
          PACT_PROVIDER: eps
          API_CLIENT_ID: ${{ secrets.API_CLIENT_ID }}
          API_CLIENT_SECRET: ${{ secrets.API_CLIENT_SECRET }}
          API_DEPLOYMENT_METHOD: proxygen
          API_MODE: live

      - uses: actions/upload-artifact@v5
        name: Upload pact_tests
        if: success() || failure()
        with:
          name: pact_tests_${{ inputs.APIGEE_ENVIRONMENT }}
          path: |
            packages/e2e-tests/prescriptions*.txt
            packages/e2e-tests/pact
